.container {
  max-width: 100rem;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 4px 4px 6px rgba(#8e8e8e, 0.6), -4px -4px 6px rgba(#fff, 0.8);
}

.container-wrap {
  overflow: hidden;
  opacity: 0.8;

  box-sizing: content-box;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  border-style: none;
  margin: 2rem;

  &:hover {
    box-shadow: 4px 4px 6px rgba(#8e8e8e, 0.6), -6px -6px 6px rgba(#fff, 0.8);
    transition: all 0.5s;
    border-style: none;
  }
}

.container-wrap img {
  width: 195px;
  height: 195px;
  border-radius: 18px;
  object-fit: cover;
  max-width: 150%;
  border-style: none;
  &:hover {
    margin: 2.5px auto;
    transition: all 0.3s;
  }
}
