$medium: 56.25em;
$small: 37.5em;
$smallest: 31.25em;

.container {
  max-width: 100rem;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 4px 4px 6px rgba(#8e8e8e, 0.6), -4px -4px 6px rgba(#fff, 0.8);

  @media only screen and (max-width: $medium) {
    // height: 18rem;
    margin: 4rem 2rem;
  }

  @media only screen and (max-width: $small) {
    // height: 18rem;
    margin: 2rem;
    flex-direction: column;
    align-items: center;
  }
}

.container-wrap {
  overflow: hidden;
  opacity: 0.8;

  box-sizing: content-box;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  border-style: none;
  margin: 2rem;

  &:hover {
    box-shadow: 4px 4px 6px rgba(#8e8e8e, 0.6), -4px -4px 6px rgba(#fff, 0.8);
    transition: all 0.5s;
    border-style: none;
  }

  @media only screen and (max-width: $small) {
    height: 90%;
    width: 90%;
    overflow: hidden;

    &:hover {
      box-shadow: none;
    }
  }
}

.container-wrap img {
  width: 195px;
  height: 195px;
  border-radius: 18px;
  object-fit: cover;
  max-width: 150%;
  border-style: none;
  &:hover {
    margin: 2.5px auto;
    transition: all 0.3s;
  }

  @media only screen and (max-width: $small) {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
