.card {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  margin: 10% auto;
  border-style: none;

  &:hover {
    box-shadow: 4px 4px 6px rgba(#8e8e8e, 0.6), -6px -6px 6px rgba(#fff, 0.8);
    transition: all 0.8s;
    border-style: none;
  }
}
