.header {
  max-width: 100rem;
  height: 28rem;
  background-color: var(--gray-light);
  margin: 0 auto;
  box-shadow: 4px 4px 6px rgba(#8e8e8e, 0.6), -4px -4px 6px rgba(#fff, 0.8);
  text-align: left;
  display: flex;

  & img {
    margin: 1.5rem 1.5rem;
    height: 25rem;
    width: auto;
  }

  & div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    justify-content: center;
  }

  & .hero-text {
    font-weight: 700;
    font-size: 5rem;
  }
}
