@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

:root {
  --primary: #2563eb;
  --primary-light: #dbeafe;

  --primary-dark-1: #1d4ed8;
  --primary-dark-2: #1e3a8a;

  --gray-light: #e5e7eb;
  --gray-dark: #1f2937;

  --white: #fff;
  --black: #000;
}

$largest: 75em;
$large: 68.75em;
$medium: 56.25em;
$small: 37.5em;
$smallest: 31.25em;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: $large) {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  // background-color: var(--gray-light);
  // background-color: #111827;
  /* min-height: 100vh; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
